
        body {

            white-space: nowrap;

            background: url("https://github.com/katharinefernandes/imagens_requestion/blob/main/background_requestion.png?raw=true") no-repeat;
            
            margin: 0;

            font-family: Ebrima;

            font-weight: 500;
        }

        /* Logo Cadastro */

            #Fields_reg_logo {

                max-width:220px;

                max-height:180px;

                right: 660px;

                margin-left: auto;

                margin-right: auto;

                width:auto;

                height:auto;

                position:absolute;

                top:8%;

                left:41%;

                z-index: 1;

            }

            /* Retângulo Cadastro */

            #Rectangle {

                display: block;

                margin-left: auto;

                margin-right: auto;

                width:auto;

                height:auto;

                position:absolute;

                top:4%;

                left:7.5%;
            
                right:10%;

                width:1140px;

                height:600px;

                background-color:#F6F6F6;

                border-radius: 85px;
            
                border-width: 0.05px;
            
                border-style: solid;
            
                border-color: #FBB4FF;

            }
            
            /* Campos Cadastro Texto*/

            #Fields_Registration_Text{

                font-size: 18px;

                opacity: 75%;
                        
                position: relative;
                        
                top: 130px;
                        
                left: 140px;

            }

            /* Campo Cadastro Texto Nome*/

            #Field_Name_Text{

                position: relative;
                            
            }

            /* Campo Cadastro Texto Sobrenome*/

            #Field_Lastname_Text{

                position: relative;
                            
                bottom: 42px;
                            
                left: 500px;

            }
            
            /* Campo Cadastro Texto Email*/

            #Field_Email_Text{

                position: relative;

                bottom: 5px;

            }
            
            /* Campo Cadastro Texto Senha*/

            #Field_Password_Text{

                position: relative;

                top: 34px;

            }
            
            /* Campo Cadastro Texto Confirmar Senha*/   

            #Field_Confirm_Text{

                position: relative;

                bottom: 8px;

                left: 500px;
                                        
            }

            /* Campo Cadastro Texto Instituição*/

            #Field_Intitution_Text{

                position: relative;

                top: 34px;

            }

            /* Campo Cadastro Texto Instituição*/ 

            #Field_Verificationcode_Text{

                position: relative;

                left: 500px;
                
                bottom: 178px;
                                                
            }

            /* Campo Cadastro Texto Grau*/

            #Field_Degree_Text{

                position: relative;

                bottom: 52px;

                left: 500px;

            }

            /* Campo Cadastro Nome*/

            #Field_Name{

                position: relative;

                left: 110px;

                bottom: 182px;

                width: 400px;

                height: 30px;

                background-color:#FFFFFF;

                border-radius: 25px;
            
                border-width: 0.05px;
            
                border-style: solid;
            
                border-color: #c0c0c0;

                outline: none;

                box-shadow: 1px 2px 2px #acacac;

                opacity: 80%;

                font-family: Ebrima;

                font-size: 16px;

                letter-spacing: 0.2px;

            }

            /* Campo Cadastro Sobrenome*/

            #Field_Lastname{

                position: relative;

                left: 610px;

                bottom: 216px;

                width: 400px;

                height: 30px;

                background-color:#FFFFFF;

                border-radius: 25px;
            
                border-width: 0.05px;
            
                border-style: solid;
            
                border-color: #c0c0c0;

                outline: none;

                box-shadow: 1px 2px 2px #acacac;

                opacity: 75%;

                font-family: Ebrima;

                font-size: 16px;

                letter-spacing: 0.2px;
            }

            /* Campo Cadastro Email*/

            #Field_Email{

                position: relative;

                left: 110px;

                bottom: 170px;

                width: 400px;

                height: 30px;

                background-color:#FFFFFF;

                border-radius: 25px;
            
                border-width: 0.05px;
            
                border-style: solid;
            
                border-color: #c0c0c0;

                outline: none;

                box-shadow: 1px 2px 2px #acacac;

                opacity: 75%;

                font-family: Ebrima;

                font-size: 16px;

                letter-spacing: 0.2px;

            }

            /* Campo Cadastro Senha*/

            #Field_Password{

                position: relative;

                left: 110px;

                bottom: 121px;

                width: 400px;

                height: 30px;

                background-color:#FFFFFF;

                border-radius: 25px;
            
                border-width: 0.05px;
            
                border-style: solid;
            
                border-color: #c0c0c0;

                outline: none;

                box-shadow: 1px 2px 2px #acacac;

                opacity: 75%;

                font-family: Ebrima;

                font-size: 16px;

                letter-spacing: 0.2px;

            }

            /* Campo Cadastro Confirmação da Senha*/

            #Field_Confirm{

                position: relative;

                left: 610px;

                bottom: 155px;

                width: 400px;

                height: 30px;

                background-color:#FFFFFF;

                border-radius: 25px;
            
                border-width: 0.05px;
            
                border-style: solid;
            
                border-color: #c0c0c0;

                outline: none;

                box-shadow: 1px 2px 2px #acacac;

                opacity: 75%;

                font-family: Ebrima;

                font-size: 16px;

                letter-spacing: 0.2px;

            }
                  
            /* Campo Cadastro Código de Verificação*/

            #Field_Verificationcode{

                position: relative;

                left: 610px;

                bottom: 272px;

                width: 400px;

                height: 30px;

                background-color:#FFFFFF;

                border-radius: 25px;
            
                border-width: 0.05px;
            
                border-style: solid;
            
                border-color: #c0c0c0;

                outline: none;

                box-shadow: 1px 2px 2px #acacac;

                opacity: 75%;

                font-family: Ebrima;

                font-size: 16px;

                letter-spacing: 0.2px;

            }

            /* DropDown Instituição */

            #Field_Institution_DropDown{

                position: relative;

                left: 110px;

                bottom: 140px;

                width: 408px;

                height: 34px;

                background-color:#FFFFFF;

                border-radius: 25px;
            
                border-width: 0.05px;
            
                border-style: solid;
            
                border-color: #c0c0c0;

                outline: none;

                box-shadow: 1px 2px 2px #acacac;

                opacity: 75%;

                font-family: Ebrima;

                font-size: 16px;

                letter-spacing: 0.2px;
            }

            /* DropDown Grau */

            #Field_Degree_DropDown{

                position: relative;

                left: 198px;

                bottom: 140px;

                width: 408px;

                height: 34px;

                background-color:#FFFFFF;

                border-radius: 25px;
            
                border-width: 0.05px;
            
                border-style: solid;
            
                border-color: #c0c0c0;

                outline: none;

                box-shadow: 1px 2px 2px #acacac;

                opacity: 75%;

                font-family: Ebrima;

                font-size: 16px;

                letter-spacing: 0.2px;
            }

            /* Botão Cadastrar */

            #Button_Register {

                right: 2px;

                margin-left: auto;

                margin-right: auto;

                width:auto;

                height:auto;

                position:absolute;

                position: relative;

                bottom: 100px;

                background-color: #8696E4;

                padding: 10px 20px; 

                width: 230px;

                text-align: center;

                font-size: 18px;

                color: #F5F5F5;

                border-radius: 30px; 

                cursor: pointer;

                outline: none;

            }

            #Button_Register:hover {
            
                box-shadow: 1px 2px 4px #808080;
            
            }
