      
      /* Toda página */

            body {

                  background: url("https://github.com/GuiSmith/Requestion_Images/blob/main/HomePage.png?raw=true") no-repeat;

                  margin: 0;

                  font-family: Ebrima;

                  font-weight: 500;

            }

      /* Header */

            /* Header todo */

                  #Header {

                        position: relative;

                        height: 500px; 

                        padding-top: 5em;

                  }

            /* Imagem do Header */

                  #Header_Image {

                        position: absolute;

                        top: 10em; 

                        left: 10em; 

                        width: 360px;

                  }

            /* Bloco do Header */

                  #Header_Block {

                        position: absolute;

                        top: 10em;

                        right: 5em;

                  }

            /* Título do Header */

                  #Header_Text_Title {

                        color: #96A3E4;

                        font-size: 160%;

                  }

            /* Texto do Header */


                  #Header_Text {

                        background-color: #E9E9E9;

                        width: 23em; 

                        padding: 2em 4em;

                        text-align: justify;

                        border-radius: 50px;

                        height: 4em; 

                        cursor: pointer; 

                  }

                  #Header_Text::selection {

                        color: black;

                        background-color: transparent;

                  }

            /* Botão de Welcome */

                  #Header_Welcome {

                        position: relative;

                        background-color: #ADB4EF;

                        padding: 15px 25px; 

                        width: 10em; 

                        text-align: center;

                        border-radius: 30px;

                        transition: 0.2s; 

                  }

                  #Header_Welcome:hover {

                        cursor: pointer;

                        box-shadow: 1.5px 1.5px 5px grey;

                  }

                  #Header_Welcome a {

                        text-decoration: none;

                        color: black;

                  }

            /* Seta do Welcome */

                  #Header_Welcome_Arrow {

                        position: absolute;

                        right: 1.4em;

                        width: 20px;

                  }

      /* Sobre nós */

            /* Sobre nós todo */

                  #About_Us {

                        position: relative;

                        padding-top: 7em;

                        height: 450px;

                  }

            /* Bloco do sobre nós */

                  #About_Us_Block {

                        position: absolute;

                        left: 7em;

                  }

            /* Título do texto do sobre nós */

                  #About_Us_Text_Tittle {

                        color: #9096AF;

                        padding: 1em;

                        width: 6em;

                        text-align: center;

                  }

            /* Text do sobre nós */

                  #About_Us_Text {

                        padding: 1em;

                        line-height: 2em;

                        width: 30em; 

                        text-indent: 50px;

                        text-align: justify;
                  
                  }

            /* Imagem do sobre nós */

                  #About_Us_Image {

                        position: absolute;

                        right: 5em;

                        top: 5em;

                        width: 350px;

                  }

      /* Slides */

            /* Slide todo */

                  #Slide {

                        position: relative;

                        width: 1056px; 

                        height: 450px; 

                        margin: 0 auto;

                  }

            /* Imagem do slide */

                  #Slide_Image {

                        position: relative;

                        margin: 5em auto;

                        display: block;

                  }

            /* Setas do slide */

                  .Slide_Arrow {

                        position: absolute;

                        top: 7em;

                        width: 55px;

                        border-radius: 50%;

                        cursor: pointer;

                  }

            /* Seta direita do slide */

                  #Slide_Right_Arrow {

                        right: 2em;

                  }

            /* Seta esquerda do slide */

                  #Slide_Left_Arrow {

                        left: 2em;

                  }

      /* Video */

            /* Bloco de texto do Vídeo */

                  #Video_Text_Block {

                        margin: 0 auto;

                        display: block;

                        padding: 0 1em;

                        width: 40em;

                  }

            /* Título e texto do Vídeo */

                  #Video_Text_Block > * {

                        text-align: center; 

                  }

            /* Título do texto vídeo */

                  #Video_Text_Title {

                        font-weight: bold;

                        opacity: 0.7;

                  }

            /* Texto do Vídeo */

                  #Video_Text {

                        color: #707070;

                  }

            /* Bloco do vídeo */

                  #Video_Frame_Block {

                        position: relative;

                        width: 500px;

                        margin: 0 auto;

                        display: block;

                  }

            /* Monitor/Imagem do vídeo */

                  #Video_Image {

                        margin-left: auto;

                        margin-right: auto;

                        display: block;

                        width: 500px;

                  }

            /* Vídeo */

                  #Video_Frame {

                        position: absolute;

                        left: 2.7em;

                        top: 2.2em;

                        border: none;

                        width: 25.9em;

                        height: 14.1em;

                  }

      /* Fim */