
	/* Página */

		body {

		    background: url("https://github.com/katharinefernandes/imagens_requestion/blob/main/background_requestion.png?raw=true") no-repeat;
		    
		    margin-top: 2em;

		    font-family: Ebrima;

		    font-weight: 500;
		}

		section	{

			position: relative;

			margin: 0 auto;

			display: block;

			text-align: center;

			width: 65em;

		    height: 33em;

		    background-color: #F6F6F6;

		    border: solid 2px #FBB4FF;

		    border-radius: 85px;

		    padding: 0 1.5em;

		}

	/* Botão de retornar */

		#return {

			position: absolute;

			left: 4em;

			top: 2em;

			width: 55px;

			border-radius: 50%;

			cursor: pointer;

		}
		
	/* Logo */

		#logo {

			margin: 0 auto;

			display: block;

			width: 220px;

			margin-top: 1em;

		}

	/* Campos */

		p {

			position: relative;

			text-align: left;

			font-size: 16px;

			display: inline-block;

			padding: 0.5em;

			margin: 0.5em;

		}

		p:last-of-type {

			margin-bottom: 2em;

		}

	/* Texto dos Campos */

		p span {

			font-size: 20px;

			margin-left: 1.3em;

		}

	/* Inputs */

		.field {

			outline: none;

			border: solid 1px #c0c0c0;

			border-radius: 25px;

			box-shadow: 1px 2px 2px #acacac;			

			font-size: 16px;

            letter-spacing: 0.2px;

            padding-left: 10px;

            opacity: 75%;

            width: 25em;

            height: 2em;

		}

	/* Links */

		a {

			color: #FD8DB1;

			text-decoration: none;

			font-size: 20px;

		}

		a.register {

			color: black;

		}

	/* Botões */

		.button {

			margin: 1.5em auto;

			display: block;

			background-color: #8696E4;
			
			padding: 10px 20px; 
			
			width: 16em;
			
			text-align: center;
			
			font-size: 18px;
						
			border-radius: 15px; 

			border: none;

			outline: none;

			cursor: pointer;

			color: rgba(0,0,0,0.80);

		}

		.button a {

			color: rgba(0,0,0,0.80);

		}

	/* Botões:hover; */

		.button:hover {

			box-shadow: 1px 2px 4px #808080;

		}

	/* Visualização da Senha */

		#view {

			position: absolute;

			right: 1em;

			bottom: 1em;

			width: 35px;

			cursor: pointer;

		}

	/* Fim */