      
      /* Rodapé */

            /* Rodapé todo */

                  #Footer {

                        position: relative;

                        margin-top: 2em;

                        height: 9em;

                        border-radius: 60px 60px 0 0;

                        background-color: white;

                  }

            /* Logo do rodapé */

                  #Footer_Logo {

                        position: absolute;

                        top: 1.5em;

                        left: 4em;

                        width: 200px;

                  }

            /* Email do rodapé  */

                  #Footer_Email {

                        position: absolute;

                        left: 22em;

                        top: 1em;

                        font-size: 19px;

                  }

            /* Redes sociais do rodapé */

                  #Footer_Media {

                        position: absolute;

                        right: 2em;

                        top: 1.5em;

                        padding: 0.5em;

                        display: inline-block;

                  }

            /* "CONTATO" das redes sociais do rodapé */

                  #Footer_Media h2 {

                        display: inline-block;

                  }

            /* imagens das redes sociais do rodapé */

                  .footer_image {

                        float: right;

                        margin-left: 1em;

                        margin-top: 0.3em;

                        border-radius: 50%;

                        width: 50px;

                        display: inline-block;

                  }

      /*  */